# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example

# ======================
# Logs
# ======================
*.log

# ======================
# Databases (dev)
# ======================
*.sqlite3
*.db

# ======================
# Caches / tools
# ======================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ======================
# IDEs
# ======================
.vscode/
.idea/
*.swp

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# FastAPI / Uvicorn
# ======================
*.pid
compscience.txt